body {
    background-color: #1e262f;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
    
    position: fixed;
    top: 2%;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);

    background-color: #e7eaee;
    border-radius: 15px;

    padding: 15px 15px;
}

@media screen and (max-width: 653px) {
    .Header {
        justify-content: center;
    }
}

#blur {
    position: relative;
    z-index: -2;
    top: 50;
    transform: translateY(-50%);

    box-shadow: 0 0 1000px 75px #d1e5ff;
    
}

#Header_img {
    height: 100px;
}

#Header_img:hover {
    text-shadow: 0 0 25px #3B4B5A;
}

.Header_Left {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#HeadText_Logo {
    font-family: "Heebo", system-ui;
    font-weight: 700;
    color: #3B4B5A;
    margin-left: 20px;
    font-size: 25px;
    text-align: center;
}

.Header_Right {
    overflow-x: auto;
    white-space: nowrap;

    display: flex;
}

#Head_Line {
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;

    font-family: "Heebo", system-ui;
}

.Header_Btn {
    position: relative;

    color: #3B4B5A;
    text-decoration: none;

    font-family: "Heebo", system-ui;
    font-weight: 600;

    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;

    transition: text-decoration 0.3s;
}

.Header_Btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; 
    background-color: #3B4B5A;
    transition: width 0.3s ease, left 0.3s ease;

}

.Header_Btn:hover::before {
    width: 100%;
    left: 0;
}

.TitleBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-top: 200px;
}

.Title_h1 {
    font-family: "Heebo", system-ui;
    font-weight: 900;
    color: #e7eaee;
    font-size: 45px;
    text-align: center;
    margin-bottom: 5px;
}

.Title_h2 {
    font-family: "Heebo", system-ui;
    font-weight: 700;
    color: #e7eaee;
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    border-top: 2px solid;
    padding-top: 10px;
}
